@{
  ViewBag.Title = "Make My Story";
  Layout = "_Layout";
}
<div class="container">
  <h1>Mad Libs</h1>
  <p>Be kind to your @Model.Noun1-footed @Model.NounPlural</p>
  <p>For a duck may be somebody`s @Model.Noun2,</p>
  <p>Be kind to your @Model.NounPlural in @Model.Place</p>
  <p>Where the weather is always @Model.Adjective.</p>
  <br>
  <p>You may think that this is the @Model.Noun3,</p>
  <p>Well it is.</p>
</div>